* {
    box-sizing: border-box;
    margin: 0;
}

.header,
.footer {
    background-color: rgb(255, 255, 58);
    border: chocolate solid 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.header {
    position: sticky;
    top: 0;
}

.footer {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 10px;
}

button {
    font-size: 20px;
    background: none;
    border: none;
}

li {
    list-style: none;
}

.bodyContent {
    background-image: url(./images/background-bottles.jpg);
    min-height: 90vh;
}

img {
    height: 500px;
    width: auto;
    border: chocolate solid 20px;
    border-radius: 10px;
}

.homeContainer {
    display: grid;
    grid-template-rows: 180px 300px 180px;
}

.contactContainer {
    display: grid;
    grid-template-rows: 200px 200px 200px;
}

.box {
    display: grid;
    border: chocolate solid 20px;
    background-color: rgb(255, 255, 58);
    margin: 20px 300px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.boxTitle {
    font-weight: bold;
    font-size: 32px;
}

.workerName {
    font-size: 32px;
    font-weight: bold;
}

.menuContainer {
    display: grid;
    margin-left: 20px;
    justify-content: center;
}

.menuItems{
    display: grid;
    grid-template-columns: auto 300px;
    margin: 10px ;
}

.NDP{
    align-self: center;
    padding-left: 10px;
    font-size: 24px;
}